.grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
 
}
.grid-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
   

}
.grid-item img{
  width: 400px;
  box-shadow: 0 0 10px 0 rgb(135, 135, 135);
}
.grid-item img:hover{
  transform:scale(1.03,1.03);
  box-shadow: 0 0 15px 0 rgba(142, 141, 141, 0.982);
}
@media (max-width: 600px) {
.grid-item {
  width: 320px;
}
.grid-item img {
  width: 320px;
}
}
.wlcome {
background-color:#fefefe;
box-shadow: 0 0 15px 0 rgba(142, 141, 141, 0.982);

text-align:center;
color: #0b0b0b;
margin: 30px 30px;

}
.wl{
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

